.Unternehmenswertrechner {
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  //height: 88vh;

  .nav-wrapper {
    background-color: #f5f5f5;
    padding: 10px 20px;

    .nav-item {
      text-align: center;
      padding: 10px;

      .nav-border {
        height: 4px;
        width: 100%;
        background-color: #ddd;
        margin-bottom: 10px;
      }

      &.finished {
        .nav-border {
          background-color: #008000;
        }
      }

      &.active {
        .nav-border {
          background-color: #0000ff;
        }
      }

      &.error {
        .nav-border {
          background-color: #ff0000;
        }
      }
    }

    .heading {
      font-size: 16px; // Tăng kích thước font
      font-weight: bold;
      color: #333; // Thay đổi màu sắc
    }
  }

  .unternehmenswertrechner-container {
    margin: 20px;

    .basis-info {
      // Các tùy chỉnh cho component BasisInfo

      .header-green {
        color: #008000;
        font-size: 2rem; // Tăng kích thước font
      }

      .input-group {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form-control {
          width: 50%;
          margin: 0 10px;
          text-align: center;
          border-radius: 5px; // Thêm border radius
        }
      }
    }

    .kennzahlen {
      // Các tùy chỉnh cho component Kennzahlen

      .header-green {
        color: #008000;
        font-size: 2rem; // Tăng kích thước font
      }

      .input-group {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form-control {
          width: 50%;
          margin: 0 10px;
          text-align: center;
          border-radius: 5px; // Thêm border radius
        }
      }
    }

  }
}
