.grid-container {
  margin: 40px !important;
  background-color: #E4E4E4;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .button {
    margin-top: 10px;
  }
}

.pdf-viewer {
  margin: 40px !important;
  padding: 10px;
}

.pdf-download-link {
  margin-top: 10px;
}

.close-button {
  margin-top: 10px;
}

.page {

  .text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}
