.container {
  display: flex;
  justify-content: center;
  height: 100vh;

  .page {
    flex-direction: row;
    background-color: white;

    .section {
      margin: 10px;
      padding: 10px;
      flex-grow: 1;

      .heading {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .paragraph {
        font-size: 12px;
        margin-bottom: 10px;
      }

      .image {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
      }
    }
  }
}
