.test-component {
  background-color: #f8f8f8;
  min-height: 85vh;
  padding: 2rem;

  .test-column {
    padding: 1rem;
  }

  .equity-bridge-header {
    color: #333;
    font-size: 1.5em;
  }

  .liquide-mittel-header {
    color: #333;
    font-size: 1.2em;
  }

  .required-label {
    color: red;
  }

  .form-field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column-reverse;

    .form-label {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .form-input {
      border: 2px solid #ddd;
    }

    .error-message {
      color: red;
      font-size: 0.9em;
    }
  }
}
