.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .Navbar {
    background-color: #1b1c1d;
    border-bottom: 2px solid #2185d0;
    height: 70px;

    .logo-image {
      width: 450px;
      height: 50px;
    }

  a {
    color: #ffffff !important;
  }

    a.active {
      color: #2185d0 !important;
    }

    .icon {
      margin-right: 5px;
    }

    .contact-item {
      margin-right: 20rem;
    }
  }

  .Footer {
    background-color: #1b1c1d;
    padding: 20px 0;

    .text-orange {
      color: #f2711c;
    }
  }
}