.header {
  background-color: #333;
  padding: 1rem;

  .menu {
    border: none;
    margin-bottom: 0;

    .item {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color: #fff;

      &.active {
        background-color: #555;
      }

      &:hover {
        background-color: #555;
      }
    }
  }

  .logo-image {
    width: 450px;
    height: 50px;
  }
}