.Home {
  min-height: 65vh;
  max-width: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  background-color: rgba(255, 255, 255, 0.8);

  .home-container {
    .home-header,
    .home-text {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 5px;
      }
    }
  }
}
